<section id="resume">
        <div class="container">
            <div class="row">
                    <div class="call-action-content text-center">
                        <h2 class="section-heading resume-heading">Looking for an intern?</h2>
                        <h3 class="section-subheading resume-subheading text-muted">Check out my experiences and education on my resume to see if I fit your needs</h3>
                        <ul>
                            <li><a class="main-btn custom" href="uploads/Mayank_Govilla_Resume.pdf">download
                                    resume</a></li>
                        </ul>
                        
                    </div> <!-- call action content -->
            </div> <!-- row -->
        </div> <!-- container -->
</section>